<div class="row">
	<div class="small-12 columns">
		<%= form_for(@task_list, url:{action: "create"}) do |f| %>
			<%= f.label(:title, "Title") %>
			<%= f.text_field(:title) %>
			<%= submit_tag("Create") %>
		<% end %>
	</div>
</div>